@import '../../a-propos/modal-a-propos/modal-a-propos.page.scss';
@import '../motif/motif.page.scss';

// Modal dimensions
.sc-ion-modal-ios-h, .sc-ion-modal-md-h {
  --height: 600px;
}

.reponses-cb-row {
  flex-direction: row;
  align-items: center;
}

// PURPOSE
.purpose .reponses-cb-col {
    padding: 1rem;
}

// METHOD
label[for="presentiel"] .rep-cb-circl-stroke,
label[for="distanciel"] .rep-cb-circl-stroke,
label[for="presentiel-distanciel"] .rep-cb-circl-stroke {
   border: 0.3em solid #74B3E2;
}

.method {
  max-width: 75%;
  margin: auto;
}

.method .radio-ctn {
  display: flex;
}

.method label {
  display: inline-block;
}

.mb-0 {
  margin-bottom: 0;
}

.contact-frequency .reponses-cb-row.autre {
  margin-top: 0;
  margin-bottom: 0;
}

.reponse-checkbox-txt-row ion-item{
  margin: 0 !important;
}

// FREQUENCY
.reponse-checkbox-txt-row {
  padding-left: 12px;
}

// .method .reponses-cb-row {
//   flex-direction: column;
//   padding-top: 2rem;
// }

// .method .label {
//   display: flex;
//   align-items: center;
//   margin-bottom: .7rem;
// }


// .radio-center {
//   width: auto;
// }

// .radio-ctn {
//   margin-bottom: 20px;
// }

// .method .reponse-checkbox-txt {
//   padding: 0 1.2rem;
//   text-align: start;
//   width: auto;
// }

// CONTACT FREQUENCY
// .contact-frequency .reponses-cb-row {
//   gap: 0;
//   justify-content: space-around;
//   margin-top: 4rem;
// }

// .contact-frequency .reponses-cb-row.autre {
//   align-items: flex-end;
//   margin-top: 0;
// }