@import '../../a-propos/modal-a-propos/modal-a-propos.page.scss';
@import '../motif/motif.page.scss';

.reponses-cb-row {
  flex-direction: row;
  align-items: center;
}

// PURPOSE
.purpose .reponses-cb-col {
    padding: 0 1rem;
    margin: 0;
}

.purpose .recap-rubrique-txt {
  margin-bottom: 1em;
}

// METHOD
label[for="presentiel"] .rep-cb-circl-stroke,
label[for="distanciel"] .rep-cb-circl-stroke,
label[for="presentiel-distanciel"] .rep-cb-circl-stroke {
   border: 0.3em solid #74B3E2;
}

.method {
  max-width: 90%;
  margin: auto;
}

.method .recap-rubrique-txt {
  margin: auto;
}

.method .radio-center {
  width: 90%;
}

.method .radio-ctn {
  display: flex;
}

.method label {
  display: inline-block;
}

.mb-0 {
  margin-bottom: 0;
}

.contact-frequency .reponses-cb-row.autre {
  margin-top: 0;
  margin-bottom: 0;
}

.reponse-checkbox-txt-row ion-item{
  margin: 0 !important;
}

// FREQUENCY
#autre {
  margin-left: 4px;
}

.reponse-checkbox-txt-row {
  padding-left: 11px;
  width: 60%;
}
