<ion-content>
  <app-question></app-question>

<!-- ############ tableau de Reponses : chekboxs Radio ##### -->
<div class="reponses-cb-row">
  <!-- ############ Reponse "Femme" chekbox Radio ##### -->
  <input type="radio" name="radio-btn" class="radio-btn" id="femme" >
  <label for="femme">
      <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
              <span class="rep-cb-circle-cont">
                  <img src="../../../assets/img/icon-femme.svg" alt="Je suis une femme">
              </span>
          </span>
          <span class="reponse-checkbox-txt">Je une femme.</span>
      </span>
  </label>
  <!-- ############ Reponse "Je ne sais pas"chekbox Radio ##### -->
  <input type="radio" name="radio-btn" class="radio-btn" id="ne-sais-pas" >
  <label for="ne-sais-pas">
      <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
              <span class="rep-cb-circle-cont">
                  <img src="../../../assets/img/icon-ne-sais-pas.svg" alt="Je ne sais pas !">
              </span>
          </span>
          <span class="reponse-checkbox-txt">Je ne sais pas.</span>
      </span>
  </label>

  <!-- ############ Reponse "Homme" chekbox Radio ##### -->
  <input type="radio" name="radio-btn" class="radio-btn" id="homme" >
  <label for="homme">
      <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
              <span class="rep-cb-circle-cont">
                  <img src="../../../assets/img/icon-homme.svg" alt="Je suis un homme">
              </span>
          </span>
          <span class="reponse-checkbox-txt">Je suis un homme.</span>
      </span>
  </label>

</div>

</ion-content>
