<ion-content>

  <app-question txtQuestion="
  Comment souhaitez-vous être accompagné ?"
  questionComponentBgImage="question-component-methode">
  </app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-row">

    <!-- ############ Reponse "accompagnement presentiel" chekbox Radio ##### -->
    <div class="label">
      <input (change)="getUserMethod($event.target)" type="radio" name="methode" value="présentiel"
      class="radio-btn" id="presentiel">
      <label for="presentiel">
        <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
            <span class="rep-cb-circle-cont">
              <img src="../../../../assets/img/icon-presentiel.svg" alt="entre 19 et 30 ans">
            </span>
          </span>
        </span>
      </label>
      <span class="reponse-checkbox-txt">Je peux me déplacer et venir en présentiel.</span>
    </div>

    <!-- ############ Reponse "accompagnement distanciel" chekbox Radio ##### -->
    <div class="label">
      <input (change)="getUserMethod($event.target)" type="radio" name="methode" value="distanciel"
      class="radio-btn" id="distanciel">
      <label for="distanciel">
        <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
            <span class="rep-cb-circle-cont">
              <img src="../../../../assets/img/icon-distanciel.svg" alt="entre 16 et 18 ans">
            </span>
          </span>
        </span>
      </label>
      <span class="reponse-checkbox-txt">Je préfère être suivi à distance grâce aux outils numériques.</span>
    </div>

    <!-- ############ Reponse "en distanciel & presentiel" chekbox Radio ##### -->
    <div class="label">
      <input (change)="getUserMethod($event.target)" type="radio" name="methode" value="distanciel & présentiel"
      class="radio-btn" id="presentiel-distanciel">
      <label for="presentiel-distanciel">
        <span class="reponse-checkbox">
          <span class="rep-cb-circl-stroke">
            <span class="rep-cb-circle-cont">
              <img src="../../../../assets/img/icon-presentiel-distanciel.svg" alt="j'ai plus de 30 ans">
            </span>
          </span>
        </span>
      </label>
      <span class="reponse-checkbox-txt">Un mixte des deux types d’accompagnement pourrait me convenir.</span>
    </div>

  </div>
<div *ngIf="isCompleted">
  <app-swipeup nextPage = "/rythme" appSwipe
  (swipeUp)="onSwipeUp($event)"></app-swipeup>
</div>
  

</ion-content>
