label[for="presentiel"] .rep-cb-circl-stroke,
label[for="distanciel"] .rep-cb-circl-stroke,
label[for="presentiel-distanciel"] .rep-cb-circl-stroke {
   border: 0.3em solid #74B3E2;
 }

.reponses-cb-row {
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: .7rem;
}

.reponse-checkbox-txt {
  padding: 0 1.2rem;
  text-align: start;
}