<ion-content>

  <!-- ############ Récaputulatif ##### -->
  <div class="recapitulatif">
    <div class="recap-rubrique-txt">1 - à propos de vous</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 1</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">prenom :</p>
            <p class="recap-goupeElement-reponse">camille</p>
          </div>
        </div>
        <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 2</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">prenom :</p>
            <p class="recap-goupeElement-reponse">camille</p>
          </div>
        </div>
        <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 3</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">prenom :</p>
            <p class="recap-goupeElement-reponse">camille</p>
          </div>
        </div>
        <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 4</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">prenom :</p>
            <p class="recap-goupeElement-reponse">camille</p>
          </div>
        </div>
        <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 5</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">prenom :</p>
            <p class="recap-goupeElement-reponse">camille</p>
          </div>
        </div>
        <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>
  </div>

  <div class="center">
    <ion-button [routerLink]="['/']" class="btn">Continuer !</ion-button>
</div>

</ion-content>
