<ion-content>
  <ion-content>
    <app-navbar></app-navbar>

    <!-- ############ Récaputulatif ##### -->
    <div class="recapitulatif">
      <span class="recap-rubrique-txt">1 - introduction</span>

      <span class="recap-cont-question">
        <span class="recap-question">
          <span class="recap-question-txt">
            <p class="recap-num-question">Question 1</p>
            <span class="recap-goupe-question-reponse">
              <p class="recap-goupeElement-question">prenom :</p>
              <p class="recap-goupeElement-reponse">camille</p>
            </span>
          </span>
          <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
        </span>
        <span class="recap-separateur"></span>
      </span>


      <span class="recap-cont-question">
        <span class="recap-question">
          <span class="recap-question-txt">
            <p class="recap-num-question">Question 2</p>
            <span class="recap-goupe-question-reponse">
              <p class="recap-goupeElement-question">prenom :</p>
              <p class="recap-goupeElement-reponse">camille</p>
            </span>
          </span>
          <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
        </span>
        <span class="recap-separateur"></span>
      </span>


      <span class="recap-cont-question">
        <span class="recap-question">
          <span class="recap-question-txt">
            <p class="recap-num-question">Question 3</p>
            <span class="recap-goupe-question-reponse">
              <p class="recap-goupeElement-question">prenom :</p>
              <p class="recap-goupeElement-reponse">camille</p>
            </span>
          </span>
          <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
        </span>
        <span class="recap-separateur"></span>
      </span>


      <span class="recap-cont-question">
        <span class="recap-question">
          <span class="recap-question-txt">
            <p class="recap-num-question">Question 4</p>
            <span class="recap-goupe-question-reponse">
              <p class="recap-goupeElement-question">prenom :</p>
              <p class="recap-goupeElement-reponse">camille</p>
            </span>
          </span>
          <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
        </span>
        <span class="recap-separateur"></span>
      </span>


      <span class="recap-cont-question">
        <span class="recap-question">
          <span class="recap-question-txt">
            <p class="recap-num-question">Question 5</p>
            <span class="recap-goupe-question-reponse">
              <p class="recap-goupeElement-question">prenom :</p>
              <p class="recap-goupeElement-reponse">camille</p>
            </span>
          </span>
          <img src="../../../assets/img/edit.svg" alt="modifier sa reponse">
        </span>
        <span class="recap-separateur"></span>
      </span>
    </div>

  </ion-content>
</ion-content>
