@import '../../../global.scss';

ion-header::after {
    background-image: none;
}

nav {
    z-index: 1;
    height: 4rem;
    background: #74B3E2;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(116, 179, 226, 0.8);
}

.icon-SM-blanc {
    padding-left: 0.5em;
    flex-grow: 0;
    height: 2em;
    width: auto;
}

nav h1 {
    flex-grow: 2;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-retour {
    width: 4rem;
    height: 4rem;
    background:rgba(255, 255, 255, 0.4); 
    border: none;
}

.btn-retour img {
    width: 2em;
    height: auto;
}
