<ion-content>

  <app-eugenie-infos title="Parfait" txtInfos="
  Parfait {{ userFirstname }} ! 
  J'ai toutes les informations
  qu'il me fallait je vais vous contacter
  dans quelques jours, alors à bientôt !
  ">
  </app-eugenie-infos>

  <div class="center">
    <ion-button [routerLink]="['/detail-total']" class="btn">voici mon récapitulatif.</ion-button>
  </div>

  <app-progress-bar step=3></app-progress-bar>

  <!-- <ion-button (click)="sendData()" class="btn">envoyer</ion-button> -->

  <div *ngIf="isCompleted">
    <app-swipeup nextPage = "/fin" appSwipe
      (swipeUp)="onSwipeUp($event)">
    </app-swipeup>
  </div>

</ion-content>