<div class="inner-content">

  <div class="main-ctn">
    <ion-icon *ngIf="isSendDataPage" (click)="dismiss()" name="close-outline" size="large"></ion-icon>

    <h1 class="title-Rgpd">Politique de confidentialité</h1>

    <h2 class="sub-title-Rgpd">
      1 : Définitions
    </h2>
    <p class="termes-rgpd">
      L’ application : fait référence à l’application mobile <span class="bold">Sur mesure.</span>
    </p>
    <p class="termes-rgpd">
      L’Utilisateur : fait référence au visiteur de l’application mobile <span class="bold">Sur mesure.</span>
    </p>
    
    
    <h2 class="sub-title-Rgpd">
      2 : Données collectées et traitées
    </h2>
    <p class="termes-rgpd">
      Conformément aux dispositions de l'article 5 du Règlement Européen 2016/679, la collecte et le traitement des données des utilisateurs du Site respectent les principes suivants :
    </p>

    <ul>
      <li>licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur, propriétaire des données. À chaque fois que des données à caractère personnel sont collectées, il sera indiqué à l'Utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li>

      <li>finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes mentions ;</li>

      <li>minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le Site sont collectées ;</li>

      <li>conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'Utilisateur est informé. Lorsque cette information ne peut être communiquée, l'Utilisateur est informé des critères utilisés pour déterminer la durée de conservation ;</li>

      <li>intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
    </ul>

    <p class="termes-rgpd">
      Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :
    </p>

    <ul>
      <li>l'utilisateur a expressément consenti au traitement ;</li>

      <li>le traitement est nécessaire à la bonne exécution d'un contrat ;</li>

      <li>le traitement répond à une obligation légale ;</li>

      <li>le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>

      <li>le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ;</li>

      <li>le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
    </ul>

    <h3 class="sub-title-Rgpd">
      2.1 : Données récoltées
    </h3>
    <p class="termes-rgpd">
      Les données à caractère personnel collectées sur l’application mobile <span class="bold">Sur mesure</span> sont les suivantes :
    </p>

    <ul>
      <li>prénom ;</li>
      <li>sexe ;</li>
      <li>numéro de téléphone ou adresse mail</li>
      <li>données de localisation</li>
    </ul>

    <h3 class="sub-title-Rgpd">
      2.2 : Durée de conservation des données
    </h3>
    <p class="termes-rgpd">
      La collecte et le traitement des données répondent aux besoins nécessaires pour établir un contact avec l’Utilisateur ayant souhaité effectuer une demande de suivi par le biais de l’application mobile.
    </p>
    <p class="termes-rgpd">
      Le responsable du traitement conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de <span class="bold">36 mois.</span>
      <br>
      À échéance, les données seront <span class="bold">supprimées.</span>
    </p>

    <h2 class="sub-title-Rgpd">
      3 : Droits de l'utilisateur et procédures de mise en oeuvre des droits de l'utilisateur
    </h2>
    <p class="termes-rgpd">
      Conformément à la réglementation concernant le traitement des données à caractère personnel, l'Utilisateur possède les droits ci-après énumérés.
    </p>
    <p class="termes-rgpd">
      Afin que le responsable du traitement des données fasse droit à se demande, l'Utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail.
    </p>
    <p class="termes-rgpd">
      Le responsable du traitement des données est tenu de répondre à l'Utilisateur dans un délai de 30 jours maximum.
    </p>

    <h3 class="sub-title-Rgpd">
      3.1 : Droit d'accès, de rectification et à l'oubli
    </h3>
    <p class="termes-rgpd">
      L'Utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant sur simple demande à l'adresse e-mail suivante : <span class="bold">l.catel@essteam.fr</span>
    </p>

    <h3 class="sub-title-Rgpd">
      3.2 : Droit à la limitation et à l'opposition du traitement des données
    </h3>
    <p class="termes-rgpd">
      Enfin, l'Utilisateur à le droit de demander la limitation ou de s'opposer au traitement de ses données par l’application, sans que l’application ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'Utilisateur.
    </p>

    <h3 class="sub-title-Rgpd">
      3.3 : Droit de saisir l'autorité de contrôle compétente
    </h3>
    <p class="termes-rgpd">
      Dans le cas où le responsable de traitement des données décide de ne pas répondre à la demande de l'Utilisateur, et que l'Utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés) ou tout juge compétent.
    </p>

    <h2 class="sub-title-Rgpd">
      4 : Obligations du responsable du traitement des données
    </h2>
    <p class="termes-rgpd">
      Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'Utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.
    </p>
    <p class="termes-rgpd">
      Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'Utilisateur est compromise, le responsable du traitement s'engage à en informer l'Utilisateur par tout moyen.
    </p>

    <div *ngIf="!isSendDataPage" class=consent>
      <p class="termes-rgpd">
        Veuillez accepter la politique de confidentialité avant de poursuivre votre navigation.
      </p>
  
      <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round" size="default" class="btn-accept">
        Accepter les conditions
      </ion-button>
      <ion-button (click)="navigateToHome()" expand="block" fill="clear" shape="round" size="default" class="btn-denied">
        je refuse
      </ion-button>
    </div>
  </div>
</div>


