<div class="inner-content">

  <div class="main-ctn">
    <div class="title-Rgpd">R.G.P.D.</div>



    <div class="sub-title-Rgpd">
      1 : Sous titre Rgpd
    </div>
    <div class="termes-rgpd">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores alias magnam consequatur minima
      error beatae
      sit rerum totam. Corporis saepe, aspernatur molestiae error quas quam suscipit aut accusamus. Tempore eligendi
      nobis,
      aperiam eos quo velit, debitis reiciendis aliquam at earum molestiae dolorem quisquam, nemo vitae repellat
      repudiandae! Iste, laborum.
    </div>

    <div class="sub-title-Rgpd">
      2 : Sous titre Rgpd
    </div>
    <div class="termes-rgpd">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores alias magnam consequatur minima
      error beatae
      aperiam eos quo velit, debitis reiciendis aliquam at earum molestiae dolorem quisquam, nemo vitae repellat
      repudiandae! Iste, laborum.
    </div>

    <div class="sub-title-Rgpd">
      3 : Sous titre Rgpd
    </div>
    <div class="termes-rgpd">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores alias magnam consequatur minima
      error beatae
      sit rerum totam. Corporis saepe, aspernatur molestiae error quas quam suscipit aut accusamus. Tempore eligendi
      nobis,
      aperiam eos quo velit, debitis reiciendis aliquam at earum molestiae dolorem quisquam, nemo vitae repellat
      repudiandae! Iste, laborum.
    </div>

    <div class="sub-title-Rgpd">
      4 : Sous titre Rgpd
    </div>
    <div class="termes-rgpd">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores alias magnam consequatur minima
      error beatae
      aperiam eos quo velit, debitis reiciendis aliquam at earum molestiae dolorem quisquam, nemo vitae repellat
      repudiandae! Iste, laborum.
    </div>





    <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round" class="btn-accept">
      Accecter les conditions
    </ion-button>
    <ion-button [routerLink]="['/home']" expand="block" fill="clear" shape="round" class="btn-denied">
      je refuse
    </ion-button>
  </div>
</div>
