c<ion-content>
  <app-question txtQuestion="Vous souhaitez être accompagné pour : "
    questionComponentBgImage="question-component-motif"></app-question>


  <!-- ############ tableau de Reponses : chekboxs Horizontal ##### -->
  <div class="reponses-cb-col">

    <div *ngFor="let item of checkboxesAnswersList" class="checkbox-hor">
      <input (change)="changeSelection()" type="checkbox" name="checkbox-btn" class="checkbox-btn" [(ngModel)]="item.isChecked"
        id="{{item.id}}">
      <label for="{{item.id}}">
        <span class="reponse-checkbox-row">
          <span class="rep-cb-circl-stroke">
            <span class="rep-cb-circle-cont">
              <img [src]="item.icon" alt="">
            </span>
          </span>
          <span class="reponse-checkbox-txt-row">
            {{ item.content }}
          </span>
        </span>
      </label>
    </div>

    <ion-button (click)="getUserPurpose()"expand="block" [disabled]="disabledStatus" size="small" class="btn">Valider
    </ion-button>

  </div>
  <div *ngIf="isCompleted">
    <app-swipeup nextPage={{nextPage}} appSwipe (swipeUp)="onSwipeUp($event)"></app-swipeup>
  </div>
</ion-content>
