<ion-content>
  <app-question txtQuestion="Vous souhaitez être accompagné pour : "></app-question>


  <!-- ############ tableau de Reponses : chekboxs Horizontal ##### -->
  <div class="reponses-cb-col">

    <!-- checkbox horizontale REP1  -->
    <div class="checkbox-hor">
      <label for="reponse-1">
        <input type="checkbox" name="checkbox-btn" id="rep1">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Être aidé pour les modes de garde d’enfants,
        la mobilité, l’accès aux droits,
        l’accompagnement numérique…
      </span>
    </div>

    <!-- checkbox horizontale REP2  -->
    <div class="checkbox-hor">
      <label for="reponse-2">
        <input type="checkbox" name="checkbox-btn" id="rep2">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Être coaché pour mes démarches d’emploi
        (simulations entretiens d’embauche, insertion par le sport…)
      </span>
    </div>

    <!-- checkbox horizontale REP3  -->
    <div class="checkbox-hor">
      <label for="reponse-3">
        <input type="checkbox" name="checkbox-btn" id="rep3">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Trouver un stage en entreprise
      </span>
    </div>

    <!-- checkbox horizontale REP4  -->
    <div class="checkbox-hor">
      <label for="reponse-4">
        <input type="checkbox" name="checkbox-btn" id="rep4">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Effectuer un Service Civique
      </span>
    </div>

    <!-- checkbox horizontale REP5  -->
    <div class="checkbox-hor">
      <label for="reponse-5">
        <input type="checkbox" name="checkbox-btn" id="rep5">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Trouver une Alternance
        (contrat d’apprentissage ou contrat de professionnalisation)
      </span>
    </div>

    <!-- checkbox horizontale REP6  -->
    <div class="checkbox-hor">
      <label for="reponse-6">
        <input type="checkbox" name="checkbox-btn" id="rep1">
      </label>
      <!-- <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt=""> -->
      <span>
        Accéder à une formation professionnelle
        Trouver un Emploi (Intérim, CDD, CDI…)
      </span>
    </div>
  </div>

  <app-swipeup></app-swipeup>

</ion-content>
