c<ion-content>
  <app-question txtQuestion="Vous souhaitez être accompagné pour : "></app-question>


  <!-- ############ tableau de Reponses : chekboxs Horizontal ##### -->
  <div class="reponses-cb-col">

    <div *ngFor="let item of checkboxesAnswersList" class="checkbox-hor">
      <label for="{{item.id}}">
        <input 
          type="checkbox" 
          name="checkbox-btn" 
          id="{{item.id}}"
          [(ngModel)]="item.isChecked"
          (change)="changeSelection()">
      </label>
      <span>
        {{ item.content }}
      </span>
    </div>

    <ion-button 
      (click)="getUserPurpose()"
      [disabled]="disabledStatus" 
      size="small" 
      class="btn">Valider</ion-button>

  </div>

  <app-swipeup nextPage = "/methode"></app-swipeup>

</ion-content>
