@import '../../../../global.scss';
@import '../../a-propos/modal-a-propos/modal-a-propos.page.scss';

.contact-container {
    position: relative;
}

.recap-rubrique-txt {
    margin-bottom: 2em;
}

.reponses-cb-row.contact {
    margin-top: 0;
    flex-direction: row;
}

label[for="phone"] {
    margin-right: 30px;
}

ion-item {
    margin: 0 auto !important;
}

.alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    text-align: center;
    padding: .75rem 1.25rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
}