<div class="inner-content">

  <ion-icon (click)="dismiss()" name="close-outline" size="large"></ion-icon>

  <!-- ######################## A PROPOS ######################## -->

  <!-- ************* IF QUESTION = FIRSTNAME ************* -->
  <div *ngIf="question == 'firstname'" class="question-firstname">
    <div class="recap-rubrique-txt">Modifier votre prénom</div>

    <ion-item>
      <ion-label position="floating">Entrez votre prénom</ion-label>
      <ion-input (keydown)="updateUserFirstame($event)" type="text" name="firstname" [(ngModel)]="firstname">
      </ion-input>
    </ion-item>
  </div>


  <!-- ************* IF QUESTION = AGE ************* -->
  <div *ngIf="question == 'age'" class="question-age">
    <div class="recap-rubrique-txt">Modifier votre âge</div>

    <div class="reponses-cb-row">
      <div class="radio-center">
        <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserAge($event.target)" type="radio" name="age" value="16-18 ans" id="16-18">
          <label for="16-18">J'ai entre 16 et 18 ans.</label>
        </div>

        <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserAge($event.target)" type="radio" name="age" value="19-30 ans" id="19-30">
          <label for="16-18">J'ai entre 19 et 30 ans.</label>
        </div>

        <!-- ############ Reponse "> 30 ans" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserAge($event.target)" type="radio" name="age" value="Plus de 30 ans" id="+30">
          <label for="+30">J'ai plus de 30 ans.</label>
        </div>

        <input (change)="updateUserAge($event.target)" type="radio" name="age" value="plus de 30 ans"
          class="radio-btn" id="+30">
      </div>
    </div>
  </div>


  <!-- ************* IF QUESTION = SEXE ************* -->
  <div *ngIf="question == 'sexe'" class="question-sexe">
    <div class="recap-rubrique-txt">Vous êtes... ?</div>

    <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
    <div class="reponses-cb-row">
      <div class="radio-center">
        <!-- ############ Reponse "Femme" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserSexe($event.target)" type="radio" name="sexe" value="Femme" id="femme">
          <label for="femme">Une femme</label>
        </div>

        <!-- ############ Reponse "Homme" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserSexe($event.target)" type="radio" name="sexe" value="Homme" id="homme">
          <label for="homme">Un homme</label>
        </div>


        <!-- ############ Reponse "Je ne sais pas"chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserSexe($event.target)" type="radio" name="sexe" value="Autre" id="ne-sais-pas">
          <label for="ne-sais-pas">Autre</label>
        </div>
      </div>
    </div>
  </div>


  <!-- ************* IF QUESTION = CITY ************* -->
  <div *ngIf="question == 'city'" class="question-city">

    <div class="recap-rubrique-txt">Modifier votre ville</div>

    <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
    <div class="reponses-cb-row">
      <div class="radio-center">
        <!-- ############ Reponse "Tourcoing" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserCity($event.target)" type="radio" name="city" value="Tourcoing"
            id="tourcoing">
          <label for="tourcoing">Tourcoing</label>
        </div>

        <!-- ############ Reponse "Roubaix"chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserCity($event.target)" type="radio" name="city" value="Roubaix" id="roubaix">
          <label for="roubaix">Roubaix</label>
        </div>

        <!-- ############ Reponse "Lille" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserCity($event.target)" type="radio" name="city" value="Lille" id="lille">
          <label for="lille">Lille</label>
        </div>

        <!-- ############ Reponse "Je ne sais pas" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="updateUserCity($event.target)" type="radio" name="city" value="Autre" id="autre">
          <label for="autre">Autre</label>
        </div>

      </div>
    </div>
  </div>


  <!-- ************* IF QUESTION = AREA ************* -->
  <div *ngIf="question == 'area'">

    <div class="recap-rubrique-txt">Modifier votre quartier</div>

    <ion-item>
      <ion-label position="floating">Entrez votre quartier</ion-label>
      <ion-input (keydown)="updateUserArea($event)" type="text" name="area" [(ngModel)]="area">
      </ion-input>
    </ion-item>
  </div>


  <!-- ######################## ACCOMPAGNEMENT ######################## -->

  <!-- ************* IF QUESTION = PURPOSE ************* -->
  <div *ngIf="question == 'purpose'" class="purpose">
    <div class="reponses-cb-col">
      <div class="recap-rubrique-txt">Modifier votre motif d'accompagnement</div>

      <div *ngFor="let item of checkboxesAnswersList" class="checkbox-hor">
        <label for="{{item.id}}">
          <input type="checkbox" name="checkbox-btn" id="{{item.id}}" [(ngModel)]="item.isChecked"
            (change)="changeSelection()">
        </label>
        <span>
          {{ item.content }}
        </span>
      </div>

      <ion-button (click)="getUserPurpose()" [disabled]="disabledStatus" size="small" class="btn">Valider
      </ion-button>

    </div>
  </div>


  <!-- ************* IF QUESTION = METHOD ************* -->
  <div *ngIf="question == 'method'" class="method">

    <div class="recap-rubrique-txt">Modifier votre méthode d'accompagnement</div>

    <div class="reponses-cb-row">
      <div class="radio-center">

        <!-- ############ Reponse "accompagnement presentiel" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="getUserMethod($event.target)" type="radio" name="methode" value="présentiel"
            id="presentiel">
          <label for="presentiel">Je peux me déplacer et venir en présentiel.</label>
        </div>

        <!-- ############ Reponse "accompagnement distanciel" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="getUserMethod($event.target)" type="radio" name="methode" value="distanciel"
            id="distanciel">
          <label for="distanciel">Je préfère être suivi à distance grâce aux outils numériques.</label>
        </div>

        <!-- ############ Reponse "en distanciel & presentiel" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="getUserMethod($event.target)" type="radio" name="methode"
            value="distanciel & présentiel" id="presentiel-distanciel">
          <label for="presentiel-distanciel">Un mixte des deux types d’accompagnement pourrait me convenir.</label>
        </div>
      </div>
    </div>

  </div>


  <!-- ************* IF QUESTION = CONTACT FREQUENCY ************* -->
  <div *ngIf="question == 'contactFrequency'" class="contact-frequency">
    <div class="recap-rubrique-txt">Modifier votre rythme d'accompagnement</div>

    <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
    <div class="reponses-cb-row">
      <div class="radio-center frequency">
        <!-- ############ Reponse "1x semaine" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme"
            value="Une fois par semaine" id="1x-semaine">
          <label for="1x-semaine">Une fois par semaine</label>
        </div>

        <!-- ############ Reponse "1 fois toute les deux semaines" chekbox Radio ##### -->
        <div class="radio-ctn">
          <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme"
            value="tous les 15 jours" id="1x-2semaine">
          <label for="1x-2semaine">Tous les 15 jours</label>
        </div>

        <!-- ############ Reponse "tout les mois" chekbox Radio ##### -->
        <div class="radio-ctn once-month">
          <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme"
            value="tous les mois" id="1x-mois">
          <label for="1x-mois">Tous les mois</label>
        </div>

        <!-- ############ Reponse "autre" chekbox Radio ##### -->
        <div class="radio-ctn autre">
          <input (change)="toggleTextInput()" type="radio" name="rythme" value="autre" id="autre">
  
          <span class="reponse-checkbox-txt-row autre">
            <ion-item>
              <ion-label position="floating">Autre</ion-label>
              <ion-input (keydown)="getTextContactFrequency($event)" [disabled]="disabledInput" type="text"
                name="autre" [(ngModel)]="contactFrequency">
              </ion-input>
            </ion-item>
          </span>
        </div>
      </div>
    </div>

  </div>



  <!-- ######################## CONTACT ######################## -->

  <div *ngIf="question == 'contact'" class="contact-container">

    <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
    <div class="recap-rubrique-txt mb-2">Modifier votre méthode de contact</div>

    <div class="reponses-cb-row contact">
      <!-- ############ Reponse "TELEPHONE" chekbox Radio ##### -->
      <div class="radio-ctn">
        <input (change)="isPhoneChecked($event.target)" type="radio" name="phoneOrMail" value="phone"
          id="phone">
        <label for="phone">Téléphone</label>
      </div>

      <!-- ############ Reponse "MAIL" chekbox Radio ##### -->
      <div class="radio-ctn">
        <input (change)="isMailChecked($event.target)" type="radio" name="phoneOrMail" value="mail" id="mail">
        <label for="mail">E-mail</label>
      </div>
    </div>

    <div *ngIf="!phoneChecked && !mailChecked ;then hideAll else testCheck"></div>

    <ng-template #testCheck>
      <div *ngIf="phoneChecked ;then phone else mail"></div>
    </ng-template>

    <ng-template #phone>
      <ion-item>
        <ion-label position="floating">0610203040</ion-label>
        <ion-input (keydown)="getUserContact($event)" type="tel" name="phone" [(ngModel)]="contact">
        </ion-input>
      </ion-item>

      <div *ngIf="displayAlert" class="alert">Le format du numéro est incorrect</div>
    </ng-template>

    <ng-template #mail>
      <ion-item>
        <ion-label position="floating">jean.dupont@gmail.com</ion-label>
        <ion-input (keydown)="getUserContact($event)" type="email" name="email" [(ngModel)]="contact"></ion-input>
      </ion-item>

      <div *ngIf="displayAlert" class="alert">Le format de l'adresse email est incorrect</div>
    </ng-template>

    <ng-template #hideAll></ng-template>

  </div>

  <div *ngIf="question !== 'purpose'" class="btn-container">
    <ion-button (click)="dismiss()" size="small" [disabled]="disabledStatus">Valider</ion-button>
  </div>

</div>