@import '../../../../global.scss';
@import '../../a-propos/modal-a-propos/modal-a-propos.page.scss';
@import '../../accompagnement/motif/motif.page.scss';

// PURPOSE
.purpose .reponses-cb-col {
    padding: 0 1rem;
    margin: 0;
}

.purpose .recap-rubrique-txt {
  margin-bottom: 1em;
}

// METHOD
.method {
    max-width: 90%;
    margin: auto;
}

.method .recap-rubrique-txt {
    margin: auto;
}

.method .radio-center {
    width: 90%;
}

.method .radio-ctn {
    display: flex;
}

.method label {
    display: inline-block;
}

.mb-0 {
    margin-bottom: 0;
}

// FREQUENCY
.radio-center.frequency {
    margin-top: 10px;
}

.radio-center.frequency .radio-ctn {
    margin-bottom: 1.75em;
}

.radio-ctn.once-month {
    position: relative;
    z-index: 10;
    margin-bottom: 0.5em !important;
}

.radio-ctn.autre {
    display: flex;
}

.reponse-checkbox-txt-row.autre {
    position: relative;
    bottom: 12px;
    left: 15px;
}

// CONTACT
.contact-container {
    position: relative;
}

.mb-2 {
    margin-bottom: 2em;
}

.reponses-cb-row.contact {
    margin-top: 0;
    flex-direction: row;
}

label[for="phone"] {
    margin-right: 30px;
}

ion-item {
    margin: 0 auto !important;
}

.alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    text-align: center;
    padding: .75rem 1.25rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
}

