/* ############### Couleurs contours :: checked ############ */

label[for="phone"] .rep-cb-circl-stroke,
label[for="mail"] .rep-cb-circl-stroke {
  border: 0.3em solid #74B3E2;
}

.reponses-cb-row {
  gap: 2em !important;
  margin-bottom: 1em !important;
}

.reponse-checkbox {
  flex-direction: column;
  width: auto;
}

.alert {
  margin: 20px, 10% !important;
  width: 100%;
  text-align: center;
  padding: .75rem 1.25rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
}
