<ion-content>

  <app-question 
    txtQuestion="Super {{ userFirstname }} .
    J’ai déjà beaucoup d’informations
    qui me permettront de vous recontacter rapidement !
    Merci de me dire comment vous recontacter :"
    
    questionComponentBgImage="question-component-contact">
  </app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-row">
    <!-- ############ Reponse "TELEPHONE" chekbox Radio ##### -->
    <input (change)="isPhoneChecked($event.target.checked)" type="radio" name="phoneOrMail" value="phone"
      class="radio-btn" id="phone">
    <label for="phone">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-phone.svg" alt="je veux etre recontacté par téléphone">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Téléphone</span>
      </span>
    </label>

    <!-- ############ Reponse "MAIL" chekbox Radio ##### -->
    <input (change)="isMailChecked($event.target.checked)" type="radio" name="phoneOrMail" value="mail"
      class="radio-btn" id="mail">
    <label for="mail">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-mail.svg" alt="je veux etre recontacté par e-mail">
          </span>
        </span>
        <span class="reponse-checkbox-txt">e-mail</span>
      </span>
    </label>
  </div>

  <div *ngIf="!phoneChecked && !mailChecked ;then hideAll else testCheck"></div>

  <ng-template #testCheck>
    <div *ngIf="phoneChecked ;then phone else mail"></div>
  </ng-template>

  <ng-template #phone>
    <ion-item>
      <ion-label position="floating">Votre téléphone ...</ion-label>
      <ion-input (keydown)="getUserContact($event)" type="tel" name="phone" autocomplete="off" [(ngModel)]="contact"></ion-input>
      </ion-item>

      <div *ngIf="displayAlert" class="alert">Le format du numéro est incorrect</div>
  </ng-template>

  <ng-template #mail>
    <ion-item>
      <ion-label position="floating">Votre adresse e-mail ...</ion-label>
      <ion-input (keydown)="getUserContact($event)" type="email" name="email" autocomplete="off" [(ngModel)]="contact"></ion-input>
    </ion-item>

    <div *ngIf="displayAlert" class="alert">Le format de l'adresse email est incorrect</div>
  </ng-template>

  <ng-template #hideAll></ng-template>

<div *ngIf="isCompleted">
  <app-swipeup nextPage = "/recap-total" appSwipe
  (swipeUp)="onSwipeUp($event)"></app-swipeup>
</div>
  

</ion-content>