<ion-content>
  <app-navbar></app-navbar>
  <app-question txtQuestion="Vous souhaitez être accompagné pour : "></app-question>


  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-col">

    <!-- ############ Reponse "Tourcoing" chekbox Radio ##### -->
    <!-- <input type="radio" name="radio-btn" class="radio-btn" id="tourcoing">
    <label for="tourcoing">
      <span class="reponse-checkbox-hor">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../assets/img/icon-tourcoing.svg" alt="ville de Tourcoing">
          </span>
        </span>
        <span class="reponse-checkbox-txt-hor">
          Être aidé pour les modes de garde d’enfants, la mobilité, l’accès aux droits, l’accompagnement numérique…
        </span>
      </span>
    </label>
  </div> -->
    <label for="reponse-1">
      <input type="checkbox" name="checkbox-btn" id="rep1">

      <p>
        Être aidé pour les modes de garde d’enfants,
        la mobilité, l’accès aux droits,
        l’accompagnement numérique…
      </p>
    </label>
  </div>


</ion-content>
