<div class="inner-content">

    <div class="main-ctn">

        <ion-icon (click)="dismiss()" name="close-outline" size="large"></ion-icon>
    
        <!-- ************* IF QUESTION = FIRSTNAME ************* -->
        <div *ngIf="question == 'firstname'" class="question-firstname">
            <!-- <app-question class="modal-text" txtQuestion="Vous pouvez modifier votre prénom ici.">
            </app-question> -->
    
            <div class="recap-rubrique-txt">Modifier votre prénom</div>
    
            <ion-item>
                <ion-label position="floating">Entrez votre prénom</ion-label>
                <ion-input (keydown)="updateUserFirstame($event)" type="text" name="firstname" [(ngModel)]="firstname">
                </ion-input>
            </ion-item>
        </div>
    
    
        <!-- ************* IF QUESTION = AGE ************* -->
        <div *ngIf="question == 'age'" class="question-age">
            <!-- <app-question txtQuestion="Modifier votre age." class="modal-radio">
            </app-question> -->
            <div class="recap-rubrique-txt">Modifier votre âge</div>
    
            <div class="reponses-cb-row">
                <div class="radio-center">
                    <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserAge($event.target.value)" type="radio" name="age" value="16-18 ans" id="16-18">
                        <label for="16-18">J'ai entre 16 et 18 ans.</label>
                    </div>
                    
                    <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserAge($event.target.value)" type="radio" name="age" value="19-30 ans" id="19-30">
                        <label for="16-18">J'ai entre 19 et 30 ans.</label>
                    </div>
                    
                    <!-- ############ Reponse "> 30 ans" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserAge($event.target.value)" type="radio" name="age" value="plus de 30 ans" id="+30">
                        <label for="+30">J'ai plus de 30 ans.</label>
                    </div>
    
                    <input (change)="updateUserAge($event.target.value)" type="radio" name="age" value="plus de 30 ans"
                    class="radio-btn" id="+30">
                </div>            
            </div>
        </div>
    
    
        <!-- ************* IF QUESTION = SEXE ************* -->
        <div *ngIf="question == 'sexe'" class="question-sexe">
            <div class="recap-rubrique-txt">Vous êtes... ?</div>
    
            <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
            <div class="reponses-cb-row">
                <div class="radio-center">
                    <!-- ############ Reponse "Femme" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserSexe($event.target.value)" type="radio" name="sexe" value="Femme" id="femme">
                        <label for="femme">Une femme</label>
                    </div>
        
                    <!-- ############ Reponse "Homme" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserSexe($event.target.value)" type="radio" name="sexe" value="Homme" id="homme">
                        <label for="homme">Un homme</label>
                    </div>

        
                    <!-- ############ Reponse "Je ne sais pas"chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserSexe($event.target.value)" type="radio" name="sexe" value="Autre" id="ne-sais-pas">
                        <label for="ne-sais-pas">Autre</label>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- ************* IF QUESTION = CITY ************* -->
        <div *ngIf="question == 'city'" class="question-city">
    
            <div class="recap-rubrique-txt">Modifier votre ville</div>
    
            <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
            <div class="reponses-cb-row">
                <div class="radio-center">
                    <!-- ############ Reponse "Tourcoing" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserCity($event.target.value)" type="radio" name="city" value="Tourcoing" id="tourcoing">
                        <label for="tourcoing">Tourcoing</label>
                    </div>
        
                    <!-- ############ Reponse "Roubaix"chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserCity($event.target.value)" type="radio" name="city" value="Roubaix" id="roubaix">
                        <label for="roubaix">Roubaix</label>
                    </div>
        
                    <!-- ############ Reponse "Lille" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserCity($event.target.value)" type="radio" name="city" value="Lille" id="lille">
                        <label for="lille">Lille</label>
                    </div>

        
                    <!-- ############ Reponse "Je ne sais pas" chekbox Radio ##### -->
                    <div class="radio-ctn">
                        <input (change)="updateUserCity($event.target.value)" type="radio" name="city" value="Autre" id="autre">
                        <label for="autre">Autre</label>
                    </div>
    
                </div>
            </div>
        </div>
    
        <!-- ************* IF QUESTION = AREA ************* -->
        <div *ngIf="question == 'area'">
    
            <div class="recap-rubrique-txt">Modifier votre quartier</div>
    
            <ion-item>
                <ion-label position="floating">Entrez votre quartier</ion-label>
                <ion-input (keydown)="updateUserArea($event)" type="text" name="area" [(ngModel)]="area">
                </ion-input>
            </ion-item>
        </div>
    
        <div class="btn-container">
            <ion-button (click)="dismiss()" size="small" [disabled]="disabledStatus">Valider</ion-button>
        </div>
        
    </div>

</div>