<ion-content>
  <app-question
    txtQuestion="Super ! Quelle est votre adresse ?"
    questionComponentBgImage="question-component-quartier"
  ></app-question>

  <ion-item>
    <ion-label position="floating">Quel est votre adresse ?</ion-label>
    <ion-input
      (keydown)="getUserArea($event)"
      type="text"
      name="area"
      [(ngModel)]="area"
      (ionFocus)="checkFocus()"
      (ionBlur)="checkBlur()"
    ></ion-input>
  </ion-item>

  <div *ngIf="area.length > 5" appSwipe (swipeUp)="onSwipeUp($event)">
    <app-swipeup
      nextPage="/recap-a-propos"
      appSwipe
      (swipeUp)="onSwipeUp($event)"
    ></app-swipeup>
  </div>

</ion-content>
