@import '../../../global.scss';

.bold {
  font-family: 'Gotham-bold' !important;
}

.comp-bonjour {
  margin :10%;
  width: 80%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.intro-bonjour {
  font-family: 'Gotham-bold' !important;
  font-size: 2.5em;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #74B3E2;
}

.bulle-txt {
  display: block;
}

.bulle-group-eugenie-shadow {
  position: relative;
  display: inline-block;
  margin-left: 40%;
  margin-right: 40%;
  width: 10rem;
}

.bulle-img-eugenie {
  display: inline-block;
}

.center {
  width: 100vw;
  display: flex;
  justify-content: center;
}