<ion-content>

  <app-question txtQuestion="
        Enchanté {{ userFirstname }},
        vous êtes un homme ou une femme ?"
        
        questionComponentBgImage = "
        question-component-sexe
        ">
  </app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-row">
    <!-- ############ Reponse "Femme" chekbox Radio ##### -->
    <input (change)="getUserSexe($event.target.value)" type="radio" name="sexe" value="Femme" class="radio-btn"
      id="femme">
    <label for="femme">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-femme.svg" alt="Je suis une femme">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Je suis une femme</span>
      </span>
    </label>
    <!-- ############ Reponse "Je ne sais pas"chekbox Radio ##### -->
    <input (change)="getUserSexe($event.target.value)" type="radio" name="sexe" value="Autre" class="radio-btn"
      id="ne-sais-pas">
    <label for="ne-sais-pas">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-ne-sais-pas.svg" alt="Je ne sais pas !">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Autre</span>
      </span>
    </label>

    <!-- ############ Reponse "Homme" chekbox Radio ##### -->
    <input (change)="getUserSexe($event.target.value)" type="radio" name="sexe" value="Homme" class="radio-btn"
      id="homme">
    <label for="homme">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-homme.svg" alt="Je suis un homme">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Je suis un homme</span>
      </span>
    </label>
  </div>
  <div *ngIf="isCompleted">
    <app-swipeup nextPage="/age" appSwipe
    (swipeUp)="onSwipeUp($event)"></app-swipeup>
  </div>
</ion-content>
