<ion-content>
  <app-question txtQuestion="À quel rythme souhaitez-vous être accompagné ?"
  questionComponentBgImage="question-component-rythme"></app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-row">

    <!-- ############ Reponse "1x semaine" chekbox Radio ##### -->
    <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme" value="Une fois par semaine"
      class="radio-btn" id="1x-semaine">
    <label for="1x-semaine">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-4-par-mois.svg" alt="une fois par semaine">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Une fois par semaine</span>
      </span>
    </label>

    <!-- ############ Reponse "1 fois toute les deux semaines" chekbox Radio ##### -->
    <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme" value="tous les 15 jours"
      class="radio-btn" id="1x-2semaine">
    <label for="1x-2semaine">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-2-par-mois.svg" alt="tous les 15 jours.">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Tous les 15 jours</span>
      </span>
    </label>

    <!-- ############ Reponse "tout les mois" chekbox Radio ##### -->
    <input (change)="getUserContactFrequency($event.target)" type="radio" name="rythme" value="tous les mois"
      class="radio-btn" id="1x-mois">
    <label for="1x-mois">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-1-par-mois.svg" alt="tous les mois">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Tous les mois</span>
      </span>
    </label>

  </div>

  <div class="reponses-cb-row autre">

    <!-- ############ Reponse "autre" chekbox Radio ##### -->
    <input (change)="toggleTextInput()" type="radio" name="rythme" value="autre" class="radio-btn" id="autre">
    <label for="autre">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-non-defini.svg" alt="autre">
          </span>
        </span>
      </span>
    </label>
    <span class="reponse-checkbox-txt-row">
      <ion-item>
        <ion-label position="floating">Autre</ion-label>
        <ion-input
          (keydown)="getTextContactFrequency($event)"
          [disabled]="disabledStatus"
          type="text" 
          name="autre" 
          [(ngModel)]="contactFrequency">
        </ion-input>
      </ion-item>
    </span>

  </div>
<div *ngIf="isCompleted">
  <app-swipeup nextPage = "/recap-accompagnement" appSwipe
  (swipeUp)="onSwipeUp($event)"></app-swipeup>

</div>
  
</ion-content>
