<ion-content>
  <app-question txtQuestion="Vous souhaitez être accompagné à quel rythme ?"></app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-col">

    <!-- ############ Reponse "1x semaine" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="1x par semaine"
      class="radio-btn" id="1x-semaine">
    <label for="1x-semaine">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/Perso 2.svg" alt="une fois par semaine">
          </span>
        </span>
        <span class="reponse-checkbox-txt-row">Une fois par semaine</span>
      </span>
    </label>

    <!-- ############ Reponse "1 fois toute les deux semaines" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="tous les 15 jours"
      class="radio-btn" id="1x-2semaine">
    <label for="1x-2semaine">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/Perso 1.svg" alt="tous les 15 jours.">
          </span>
        </span>
        <span class="reponse-checkbox-txt-row">Tous les 15 jours</span>
      </span>
    </label>

    <!-- ############ Reponse "tout les mois" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="en distanciel & presentiel"
      class="radio-btn" id="1x-mois">
    <label for="1x-mois">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/Perso 3.svg" alt="j'ai plus de 30 ans">
          </span>
        </span>
        <span class="reponse-checkbox-txt-row">Tous les mois</span>
      </span>
    </label>



    <!-- ############ Reponse "autre" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="autre" class="radio-btn"
      id="autre">
    <label for="autre">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/Perso 3.svg" alt="autre">
          </span>
        </span>
        <span class="reponse-checkbox-txt-row">
          <ion-item>
            <ion-textarea rows="1" colums="2" placeholder="votre rythme ..." maxlength="30"></ion-textarea>
          </ion-item>
        </span>
      </span>
    </label>

  </div>

  <app-swipeup></app-swipeup>
</ion-content>
