<ion-content>
  <app-question txtQuestion="A quel rythme souhaitez-vous être accompagné ?"></app-question>

  <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
  <div class="reponses-cb-row">

    <!-- ############ Reponse "1x semaine" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="Une fois par semaine"
      class="radio-btn" id="1x-semaine">
    <label for="1x-semaine">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-01.svg" alt="une fois par semaine">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Une fois par semaine</span>
      </span>
    </label>

    <!-- ############ Reponse "1 fois toute les deux semaines" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="tous les 15 jours"
      class="radio-btn" id="1x-2semaine">
    <label for="1x-2semaine">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-02.svg" alt="tous les 15 jours.">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Tous les 15 jours</span>
      </span>
    </label>

    <!-- ############ Reponse "tout les mois" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="tous les mois"
      class="radio-btn" id="1x-mois">
    <label for="1x-mois">
      <span class="reponse-checkbox">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-03.svg" alt="j'ai plus de 30 ans">
          </span>
        </span>
        <span class="reponse-checkbox-txt">Tous les mois</span>
      </span>
    </label>

  </div>

  <div class="reponses-cb-row autre">

    <!-- ############ Reponse "autre" chekbox Radio ##### -->
    <input (change)="setUserRythme($event.target.value)" type="radio" name="rythme" value="autre" class="radio-btn"
      id="autre">
    <label for="autre">
      <span class="reponse-checkbox-row">
        <span class="rep-cb-circl-stroke">
          <span class="rep-cb-circle-cont">
            <img src="../../../../assets/img/icon-calendar-04.svg" alt="autre">
          </span>
        </span>
        <span class="reponse-checkbox-txt-row">
          <ion-item>
            <ion-label position="floating">Autre</ion-label>
            <ion-input type="text" name="autre" [(ngModel)]="contact"></ion-input>
          </ion-item>
        </span>
      </span>
    </label>

  </div>


  <app-swipeup nextPage = "/recap-accompagnement"></app-swipeup>
</ion-content>
