@import '../../../../global.scss';
@import '../../a-propos/details-a-propos/details-a-propos.page.scss';

.recap-goupe-question-reponse {
    display: block;
}

.recap-goupeElement-question {
    margin-bottom: 0.5rem;
}

.recap-goupeElement-reponse::first-letter {
    text-transform: none;
}

.center {
    margin-top: 4rem;
}