<ion-content>

  <!-- ############ Récaputulatif DETAIL TOTAL ##### -->
  <div *ngFor="let data of userDataService.user" class="recapitulatif">
    <div class="recap-rubrique-txt">3 - contact</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 9</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">contact :</p>
            <p class="recap-goupeElement-reponse">{{ data.contact }}</p>
          </div>
        </div>
        <img (click)="presentModal('contact')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


   
  </div>
  <div class="center">
    <ion-button [routerLink]="['/send-data']" class="btn">Continuer !</ion-button>
  </div>

</ion-content>

