<ion-content>

  <!-- ######################## RECAP A PROPOS ######################## -->

  <div *ngFor="let data of userDataService.user" class="recapitulatif recap-mt">
    <div class="recap-rubrique-txt">1 - A propos de vous</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question capitalize">prenom :</p>
            <p class="recap-goupeElement-reponse">{{ data.firstname }}</p>
          </div>
        </div>
        <img (click)="presentModal('firstname')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">age :</p>
            <p class="recap-goupeElement-reponse">{{ data.age }}</p>
          </div>
        </div>
        <img (click)="presentModal('age')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">sexe :</p>
            <p class="recap-goupeElement-reponse capitalize">{{ data.sexe }}</p>
          </div>
        </div>
        <img (click)="presentModal('sexe')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">ville :</p>
            <p class="recap-goupeElement-reponse capitalize">{{ data.city }}</p>
          </div>
        </div>
        <img (click)="presentModal('city')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div *ngIf="city === 'Tourcoing'" class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">quartier :</p>
            <p *ngIf="isAreaFilled" class="recap-goupeElement-reponse capitalize">{{ data.area }}</p>
            <p *ngIf="!isAreaFilled" class="recap-goupeElement-reponse">Non renseigné</p>
          </div>
        </div>
        <img (click)="presentModal('area')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>
  </div>


  <!-- ######################## RECAP ACCOMPAGNEMENT ######################## -->

  <div *ngFor="let data of userDataService.user" class="recapitulatif recap-bloc">
    <div class="recap-rubrique-txt">2 - accompagnement</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question purpose">motif :</p>
            <ul>
              <li *ngFor="let item of data.purpose" class="recap-goupeElement-reponse">{{ item }}</li>
            </ul>
          </div>
        </div>
        <img (click)="presentModal('purpose')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div *ngIf="city === 'Tourcoing'" class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">methode :</p>
            <p class="recap-goupeElement-reponse capitalize">{{ data.method }}</p>
          </div>
        </div>
        <img (click)="presentModal('method')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>

    <div *ngIf="city === 'Tourcoing'" class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question frequency">rythme :</p>
            <p class="recap-goupeElement-reponse">{{ data.contactFrequency }}</p>
          </div>
        </div>
        <img (click)="presentModal('contactFrequency')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>
  </div>


  <!-- ######################## RECAP CONTACT ######################## -->

  <div *ngFor="let data of userDataService.user" class="recapitulatif recap-bloc">
    <div class="recap-rubrique-txt">3 - contact</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">contact :</p>
            <p class="recap-goupeElement-reponse">{{ data.contact }}</p>
          </div>
        </div>
        <img (click)="presentModal('contact')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>
  </div>

  <div class="center">
    <ion-button [routerLink]="['/send-data']" class="btn">Continuer !</ion-button>
  </div>

</ion-content>

