<ion-content>

    <app-question txtQuestion="Très bien. Quel âge avez-vous Camille ?"></app-question>

    <!-- ############ tableau de Reponses : chekboxs Radio ##### -->
    <div class="reponses-cb-row">
        <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
        <input type="radio" name="radio-btn" class="radio-btn" id="16-18">
        <label for="16-18">
            <span class="reponse-checkbox">
                <span class="rep-cb-circl-stroke">
                    <span class="rep-cb-circle-cont">
                        <img src="../../../assets/img/Perso 1.svg" alt="entre 16 et 18 ans">
                    </span>
                </span>
                <span class="reponse-checkbox-txt">j'ai entre 16 et 18 ans.</span>
            </span>
        </label>

        <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
        <input type="radio" name="radio-btn" class="radio-btn" id="19-30">
        <label for="19-30">
            <span class="reponse-checkbox">
                <span class="rep-cb-circl-stroke">
                    <span class="rep-cb-circle-cont">
                        <img src="../../../assets/img/Perso 2.svg" alt="entre 19 et 30 ans">
                    </span>
                </span>
                <span class="reponse-checkbox-txt">j'ai entre 16 et 18 ans.</span>
            </span>
        </label>

        <!-- ############ Reponse "16 > 18 ans" chekbox Radio ##### -->
        <input type="radio" name="radio-btn" class="radio-btn" id="+30">
        <label for="+30">
            <span class="reponse-checkbox">
                <span class="rep-cb-circl-stroke">
                    <span class="rep-cb-circle-cont">
                        <img src="../../../assets/img/Perso 3.svg" alt="j'ai plus de 30 ans">
                    </span>
                </span>
                <span class="reponse-checkbox-txt">j'ai plus de 30 ans.</span>
            </span>
        </label>
    </div>

    <app-swipeup></app-swipeup>

</ion-content>