<ion-content>

  <!-- ############ Récaputulatif ACCOMPAGNEMENT ##### -->
  <div *ngFor="let data of userDataService.user" class="recapitulatif">
    <div class="recap-rubrique-txt">2 - accompagnement</div>

    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 6</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question purpose">motif :</p>
            <!-- <p class="recap-goupeElement-reponse">{{ data.purpose }}</p> -->
            <ul>
              <li *ngFor="let item of data.purpose" class="recap-goupeElement-reponse">{{ item }}</li>
            </ul>
          </div>
        </div>
        <img (click)="presentModal('purpose')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 7</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question">methode :</p>
            <p class="recap-goupeElement-reponse">{{ data.method }}</p>
          </div>
        </div>
        <img (click)="presentModal('method')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>


    <div class="recap-cont-question">
      <div class="recap-question">
        <div class="recap-question-txt">
          <p class="recap-num-question">Question 8</p>
          <div class="recap-goupe-question-reponse">
            <p class="recap-goupeElement-question frequency">rythme :</p>
            <p class="recap-goupeElement-reponse">{{ data.contactFrequency }}</p>
          </div>
        </div>
        <img (click)="presentModal('contactFrequency')" src="../../../../../assets/img/edit.svg" alt="modifier sa reponse">
      </div>
      <div class="recap-separateur"></div>
    </div>
  </div>
  <div class="center">
    <ion-button [routerLink]="['/contact']" size="small" class="btn">Continuer !</ion-button>
  </div>

</ion-content>
