@import '../../../../global.scss';
@import '../../a-propos/details-a-propos/details-a-propos.page.scss';

li.recap-goupeElement-reponse {
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.recap-goupeElement-question.frequency {
    min-width: 80px !important;
}