<ion-content>

    <div class="container">
        <app-question txtQuestion = 
            "Bonjour je m’appelle Eugénie,
            je suis là pour vous aider.
            Comment vous appelez-vous ?"
            
            questionComponentBgImage = "question-component-firstName">
        </app-question>

        <ion-item>
            <ion-label position="floating">Entrez votre prénom</ion-label>
            <ion-input (keydown)="getUserFirstame($event)" type="text" name="firstname" [(ngModel)]="firstname"></ion-input>
        </ion-item>
    </div>
    

    <!-- TEST MODAL RGPD -->
<ion-button (click)="presentRGPDModal()" expand="block" fill="clear" shape="round">
    RGPD modal
</ion-button>

    <div *ngIf="isCompleted">
        <app-swipeup nextPage = "/sexe" appSwipe
        (swipeUp)="onSwipeUp($event)"></app-swipeup>
    </div>

</ion-content>
